/*--------------------------------------------------CATALOGO-----------------------------------------*/

.galeria{
    background-color: #0d2033;
    padding: 80px 0 ;
 
    
}

.galeria img{
    max-width: 100%;
    padding: 5px;
    width: 100%;
}

.main-catalogo{
    position: relative;
    background-color: #0d2033;
    height: 30%;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    
    
}

.main-catalogo h1{
    font-size:6em;
    padding-top: 3em;
    padding-bottom: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
}



 .slider{
    width: 90%;
    margin: 0% auto;  
    
 }

 @media screen and (max-width: 500px){
    .main-catalogo{
        h1{
            font-size: 3em;
            font-weight: bold;
        }
        p{
            font-size: 1.5em;
            font-weight: bold;
        }
    }
  }
  
  @media  (min-width: 500px)and (max-width: 720px){
    .main-catalogo{
        h1{
            font-size: 4.5em;
            font-weight: bold;
        }
        p{
            font-size: 2em;
            font-weight: bold;
        }
    }
  }
  
  @media  (min-width: 720px)and (max-width: 1024px){

  }