.main-contacto{
    position: relative;
    background-image: url(../imagenes/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    background-size: cover;
    background-position: center;
    padding: 6em 0 6em ;



    h1{
        font-size:6em;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        position: relative;
        padding-top: 1em;
    }

    p{
        margin-top: 1em;
        padding: 0;
        font-size: 2.5em;
        color: rgb(255, 255, 255);
        padding-bottom: 25px;      
        text-align: center;    
        position: relative; 
        text-transform: uppercase;
    }
}
    .formulario{
        height: 100vh;
        background-color: #262626;
        border-top: #ffffff solid 5px;

}

.main-contacto:before{
    content: "";
    min-width: 100%;
    min-height: 70vh;
    position: absolute;
    top: 0;
    left: 0;


    background:rgba(0, 0, 0, 0.805);

}


@media screen and (max-width: 500px){
    .main-contacto{
        h1{
            font-size: 4em;
        }
        p{
            font-size: 2em;
        }
    }


}

@media  (min-width: 500px)and (max-width: 720px){
    .main-contacto{
        h1{
            font-size: 5em;
        }
        p{
            font-size: 2.5em;
        }
    }

}

@media  (min-width: 720px)and (max-width: 1024px){

}