.main-historia{
    position: relative;
    background-color: #14213D;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
  padding-top: 270px;
    
}

.main-historia h1{
    font-size:6em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}



@media screen and (max-width: 500px){
    .main-historia{
      h1{
        font-size: 3em;
      }

    }
  }
  
  @media  (min-width: 500px)and (max-width: 720px){

  }
  
  @media  (min-width: 720px)and (max-width: 1024px){

  }