* {
  padding: 0%;
  margin: 0%;
  font-family: 'Poppins',  sans-serif;
}

.main {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 7, 12, 0.45)), to(rgba(5, 7, 12, 0.45))), url(../imagenes/img.jpg);
  background: linear-gradient(rgba(5, 7, 12, 0.45), rgba(5, 7, 12, 0.45)), url(../imagenes/img.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 220px 0 220px;
  text-align: center;
}

.main h1 {
  position: relative;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 8em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.main p {
  position: relative;
  margin-top: 1em;
  margin-right: 0;
  padding: 0;
  font-size: 4em;
  font-weight: bold;
  color: #e7e7e7;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.main .readMore {
  font-size: 2em;
  background: #e39c04;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .main h1 {
    font-size: 3em;
  }
  .main p {
    font-size: 2em;
  }
}

@media (min-width: 500px) and (max-width: 720px) {
  .main h1 {
    font-size: 4.5em;
  }
  .main p {
    font-size: 2.5em;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  .main h1 {
    font-size: 5.5em;
  }
  .main p {
    font-size: 3.5em;
  }
}

.main-cliente {
  position: relative;
  background-image: url(../imagenes/clientes.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 6em 0 6em;
}

.main-cliente h1 {
  font-size: 6em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.main-cliente p {
  margin-top: 1em;
  padding: 0;
  font-size: 2.5em;
  color: white;
  padding-bottom: 25px;
  text-align: center;
  position: relative;
}

.main-cliente .color {
  background-color: #262626;
}

.main-cliente:before {
  content: "";
  min-width: 100%;
  min-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.805);
}

.galeria-clientes {
  background-color: #262626;
}

@media screen and (max-width: 480px) {
  .main-cliente h1 {
    font-size: 5em;
    font-weight: bold;
  }
  .main-cliente p {
    font-size: 2em;
  }
}

.main-contacto {
  position: relative;
  background-image: url(../imagenes/contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 6em 0 6em;
}

.main-contacto h1 {
  font-size: 6em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.main-contacto p {
  margin-top: 1em;
  padding: 0;
  font-size: 2.5em;
  color: white;
  padding-bottom: 25px;
  text-align: center;
  position: relative;
}

.formulario {
  height: 100vh;
  background-color: #262626;
  border-top: #ffffff solid 5px;
}

.main-contacto:before {
  content: "";
  min-width: 100%;
  min-height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.805);
}

@media screen and (max-width: 480px) {
  .main-contacto h1 {
    font-size: 4em;
  }
  .main-contacto p {
    font-size: 2.5em;
  }
}

/*--------------------------------------------------CATALOGO-----------------------------------------*/
.galeria {
  background-color: #fff1c4;
  padding: 80px 0;
  border-top: whitesmoke solid 1em;
}

.galeria img {
  max-width: 100%;
  padding: 5px;
  width: 100%;
  -webkit-box-shadow: 0 0 15px rgba 0, 0, 0, 0.3;
          box-shadow: 0 0 15px rgba 0, 0, 0, 0.3;
}

.main-catalogo {
  position: relative;
  background-color: #8ca5ca;
  height: 30%;
  background-size: cover;
  background-position: center;
  padding: 100px 0px 100px 0px;
}

.main-catalogo h1 {
  font-size: 6em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.main-catalogo p {
  margin-top: 1em;
  padding: 0;
  font-size: 2.5em;
  color: white;
  padding-bottom: 25px;
  text-align: center;
}

.slider {
  width: 90%;
  margin: 0% auto;
}

.slide {
  background-color: #8ca5ca;
}

@media screen and (max-width: 500px) {
  .main-catalogo h1 {
    font-size: 3em;
    font-weight: bold;
  }
  .main-catalogo p {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@media (min-width: 500px) and (max-width: 720px) {
  .main-catalogo h1 {
    font-size: 4.5em;
    font-weight: bold;
  }
  .main-catalogo p {
    font-size: 2em;
    font-weight: bold;
  }
}

.main-historia {
  position: relative;
  background-color: #262626;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 220px 0 220px;
}

.main-historia h1 {
  font-size: 6em;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.main-historia p {
  margin-top: 1em;
  padding: 0;
  font-size: 2.5em;
  color: white;
  padding-bottom: 25px;
}

@media screen and (max-width: 500px) {
  .main-historia h1 {
    font-size: 3em;
  }
}

/*----------------------   SECTION barra  --------------------------------*/
.barra {
  background-color: #434343;
  border: solid #e39c04 8px;
  padding: 1.5em;
}

.barra-ul {
  font-size: 2em;
  color: #dcdde1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4em;
  margin-left: 0%;
  padding: .5em;
  text-align: center;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

/*----------------------   SECTION 3 nuestos servicios  --------------------------------*/
.servicio1 {
  background-color: #fff1c4;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text1 {
  text-align: center;
  padding-top: 100px;
}

.text1 h1 {
  font-size: 4em;
}

.text1 p {
  font-size: 2em;
}

.servicio2 {
  background-color: #8cbaff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text2 {
  text-align: center;
  padding-top: 100px;
}

.text2 h1 {
  font-size: 4em;
}

.text2 p {
  font-size: 2em;
}

@media screen and (max-width: 500px) {
  .text1 {
    font-size: 10px;
  }
  .text2 {
    font-size: 10px;
  }
}

.container-video {
  position: relative;
  height: 100vh;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transform: translate -50%, -50%;
          transform: translate -50%, -50%;
}

.text-video {
  position: absolute;
  font-size: 2em;
  background-color: rgba(25, 26, 34, 0.846);
  color: white;
  text-align: center;
  border-radius: 15px;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 1em;
  padding: 1em;
  box-shadow: -7px 10px 20px 10px rgba(25, 26, 34, 0.86);
  -webkit-box-shadow: -7px 10px 20px 10px rgba(25, 26, 34, 0.86);
  -moz-box-shadow: -7px 10px 20px 10px rgba(25, 26, 34, 0.86);
}

* {
  padding: 0%;
  margin: 0%;
}

/*----------------------   HEADER   --------------------------------*/
.header {
  position: relative;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 30px 0;
  background-color: #f9be3e;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white !important;
}

.nav-item {
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 50px;
}

.nav-link {
  color: white !important;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: 700;
  margin-left: 2em;
}

.nav-link:hover {
  background: #ffffff !important;
  color: #3f3e3e !important;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

@media screen and (max-width: 990px) {
  .navbar {
    padding: 30px 0;
    background-color: #f9be3e;
    position: relative;
  }
}

/*--------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------   FOOTER    ----------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/
.pie-pagina {
  width: 100%;
  background-color: #e39c04;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #e39c04;
}

.pie-pagina .grupo-2 {
  background-color: #000000;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/*# sourceMappingURL=style.css.map */